/* General  */
/* font families added: franklin-gothic-urw,
acumin-pro, linotype-sabon
*/
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  
}

body {
  margin:0;
  padding: 0;
  font-family: "acumin-pro";
  font-weight: 300;
  font-style: normal;
  background-image:url(888.png);
  
}

a{
  transition: all 300ms ease;
}

/*  Desktop Nav */
.logo {
  
  align-items: center;
  height: 17vh;
  display: flex;
  justify-content: space-between;}
.menu{
  gap: 1rem;
  list-style: none;
  font-size: 1.5rem;
  display: flex;
  height: 17vh;
  flex-direction: column;
  margin:1rem;
}
a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
    color: rgb(15, 25, 207);
    text-decoration: underline;
    /* text-underline-offset: 1rem; */
    /* text-decoration-color: rgb(7, 7, 7); */
}

a.home{
  text-decoration: none; font-size: 2rem;
}
a.home:hover {cursor:default;text-decoration: none; color:black }








/* Hamburger Menu */
#mobile-nav {
    display:none;
}
.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {display:flex;
flex-direction: column;
justify-content: space-between;
height:24px;
width: 30px;
cursor: pointer;}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}
.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: white;
    width:fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all;

}
.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color:black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li{
    list-style: none;
}
.menu-links.open {
    max-height:300px ;
}
.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);}
.hamburger-icon.open span:nth-child(2) {
    opacity: 0;

}
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child { 
    transform:none;
}
.hamburger-icon span:first-child {
    opacity: 1;
}
.hamburger-icon span:first-child { 
    transform:none;
}


@media screen and (max-width:500px) {
  #desktop-nav {
    display:none
  } 

#mobile-nav {
    display: flex;
}
}


